@import "mixin";
@import "headerPublic";
@import "footerPublic";
@import "homePublic";
@import "allBookPublic";
@import "bookPublic";
@import "signinSignup";
@import "profile";
@import "dashboard";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.w-full {
  width: 100%;
}

.red {
  color: rgb(255, 0, 0);
}

.bg-red {
  background-color: rgb(255, 0, 0);
}

.orange {
  color: rgb(255, 165, 0);
}

.blue {
  color: rgb(47, 0, 255);
}

.slate {
  background-color: rgb(51, 65, 85);
}

.bg-blue {
  background-color: rgb(47, 0, 255);
}
.green {
  color: rgb(21, 128, 61);
}

.btn-disable {
  color: rgb(255, 255, 255);
  padding: 0.75rem /* 12px */;
  border-radius: 0.5rem /* 8px */;
  text-transform: uppercase;
  &:hover {
    opacity: 0.95;
  }
  &:disabled {
    opacity: 0.88;
  }
}
.text-white {
  color: rgb(255, 255, 255) !important;
}

.rotate-180 {
  rotate: 180deg;
}

.mt-2 {
  margin-top: 0.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}

// Public
.header {
  padding: 0.5rem 5rem;
}

.public-container {
  max-width: 64rem;
  min-height: 90vh;
  background-color: rgb(255, 237, 213);
  margin: auto;
  padding: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

// Introduction
.introduction {
  background-color: rgb(220, 252, 231);
  padding: 0.5rem 5rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 64rem;
  color: rgb(22, 163, 74);
}

// Title
.generalTitle {
  color: rgb(255, 255, 255);
  background-color: rgb(249, 115, 22);
  padding: 0.5rem 0.75rem;
}

// Sub Item
.generalSubItem {
  border: 0.125rem solid rgb(209, 213, 219);
}
.generalSubItem .generalSubItem-text {
  padding: 3rem;
  text-align: justify;
}

// Menu
.menu {
  border: 0.125rem solid rgb(209, 213, 219);
  > .menu-content {
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    text-align: justify;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    > .menu-item {
      @include flex(row, flex-start, center, 0);
      margin-bottom: 0.5rem;
      color: rgb(59, 130, 246);
      &:hover {
        color: rgb(29, 78, 216);
      }
    }
  }
}

// admin components
.admin-container {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(247, 247, 247);
  > aside {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    color: #000;
    &::-webkit-scrollbar {
      display: none;
    }
    > .logo {
      width: 4rem;
      margin: 0 auto;
      > img {
        width: 100%;
      }
    }
    > .wrapper {
      margin: 2rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1rem 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          padding: 0.5rem 1rem;
          border-radius: 10px;
          a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
          }
          button {
            background-color: rgb(47, 122, 252);
            color: rgb(255, 255, 255);
            padding: 0.5rem 1.25rem;
            border-radius: 9999px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
